@import "../../../styles/assets.scss";

.fluid {
  position: absolute;
  overflow-x: hidden;
  top: 60px;
  right: -300px;
  //横幅48vw
  width: 620px;
  //縦幅40vw
  height: 520px;
  //背景色
  background-color:black;
  color: black;
  animation: fluidrotate 30s ease 0s infinite;
  @include mq(lg){
    right: -150px;
    width: 420px;
    height: 420px;
  }
  @include mq(md){
    top: 90px;
    right: -120px;
    width: 320px;
    height: 320px;
  }
  @include mq(sm){
    transform: scale(-1, 1);
    top: 60px;
    left: -100px;
    //横幅
    width: 380px;
    //縦幅
    height: 270px;
    background-color: #fff;
    border: black solid 2px;
  }
}

//流体シェイプアニメーション
@keyframes fluidrotate {  
//編集するときは下記URLで
//https://9elements.github.io/fancy-border-radius/#42.55.43.44--280.361
0%, 100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
}
14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
}
28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
}
42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
}
56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
}
70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
}
84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
}
    
}