@import "../../../styles/assets.scss";
//あとでフォントサイズチェック
.fluidwhite {
  font-size: 64px;
  position: absolute;
  z-index: 997;
  //位置
  top: 100px;
  right: 200px;
  //縦横幅
  width: 420px;
  height: 400px;
  background-color:rgba(255, 255, 255, 0);
  color: black;
  border: solid 1px #444;
  animation: fluidrotate 30s ease 0s infinite;
  @include mq(lg){
    font-size: 56px;
    width: 320px;
  height: 300px;
    right: 100px
  }
  @include mq(md){
    font-size: 35px;
  }
  @include mq(sm){
    font-size: 48px;
    //位置
    top: 12vh;
    right: 16px;
    //縦横幅
    width: 72vw;
    height: 64vw;
  }
}

.m, .o, .c, .h, .i, .l, .y{
  position: absolute;
  animation: fuwafuwa 3s infinite ease-in-out .8s alternate;
  display: inline-block;
  transition: 1.5s ease-in-out;
  width: 70px;
  height: 70px;
  margin-top: 15px;
}
.m{
  animation: fuwafuwa 3s infinite ease-in-out .8s alternate;
  color: #ff8c49;
  top: 120px;
  left: 50px;
  @include mq(sm){
    top: 20vw;
    right: 16vw;
  }
}

.o{
  animation: fuwafuwa 2s infinite ease-in-out .8s alternate;
  top: 120px;
  left: 190px;
  @include mq(sm){
    top: 24vw;
    left: 32vw;
  }
}

.c{
  animation: fuwafuwa 2s infinite ease-in-out .6s alternate;
  top: 230px;
  left: 100px;
  @include mq(sm){
    top: 34vw;
    left: 16vw;
  }
}

.h{
  animation: fuwafuwa 3s infinite ease-in-out .6s alternate;
  top: 150px;
  left: 310px;
  @include mq(sm){
    top: 24vw;
    left: 56vw;
  }
}

.i{
  animation: fuwafuwa 2s infinite ease-in-out .5s alternate;
  top: 40px;
  left: 130px;
  @include mq(sm){
    top: 8vw;
    left: 24vw;
  }
}
.y{
  animation: fuwafuwa 3s infinite ease-in-out .5s alternate;
  top: 40px;
  left: 260px;
  @include mq(sm){
    top: 6vw;
    left: 40vw;
  }
}

.l{
  animation: fuwafuwa 2s infinite ease-in-out .6s alternate;
  top: 250px;
  left: 280px;
  @include mq(sm){
    top: 37vw;
    left: 48vw;
  }
}

@keyframes fuwafuwa {
  0% {
    transform:translate(0, 0) rotate(-10deg);
  }
  50% {
    transform:translate(0, -10px) rotate(0deg);
  }
  100% {
    transform:translate(0, 0) rotate(10deg);
  }
}
 

@keyframes fluidrotate {  
    
0%, 100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
}
14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
}
28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
}
42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
}
56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
}
70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
}
84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
}
    
}