@import "../../../styles/assets.scss";

.logo {
  position: absolute;
  top: 380px;
  right: 100px;
  font-size: 80px;
  font-weight: normal;
  color: white;
  background-color: black;
  //これで反転
  mix-blend-mode: exclusion;
  @include mq(lg){
    top: 320px;
    right: 100px;
    font-size: 64px;
  }
  @include mq(md){
    font-size: 48px;
    top: 280px;
  }
  @include mq(sm){
    font-size: 40px;
    top: 300px;
    left: 200px;
  }
}