@import "../../../styles/assets.scss";

.logo {
  position: absolute;
  z-index: 998;
  top: 30vw;
  left: 65vw;
  font-size: 80px;
  font-weight: normal;
  color: white;
  background-color: black;
  //これで反転
  mix-blend-mode: exclusion;
  @include mq(lg){
    font-size: 64px;
  }
  @include mq(md){
    font-size: 56px;
    top: 36vw;
    left: 64vw;
  }
  @include mq(sm){
    font-size: 48px;
    top: 56vw;
    left: 48vw;
  }
}