/*
  scss variables
*/

// color
$color-font: #000;
$color-accent: #FF9D43;
$color-background: #fff;

// breakpoints
$breakpoints: (
  'sm': 'screen and (max-width: 475px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1024px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;

// font size
$text-base: 16px;
$text-lg: 18px;
$text-xl: 20px;
$text-2xl: 36px;