@import "../../styles/assets.scss";

.icon {
  width:10vw;
  height: 10vw;
}

.catchCopy {
  color: #ff8d2f;
  font-weight: 600;
  @include mq(md){
    font-size: 14px;
    margin: 0;
  }
}

h1 {
  margin:0px 0px 8px 0px;
  font-size: $text-2xl;
  @include mq(lg){
    font-size: 28px;
  }
  @include mq(md){
    font-size: $text-base;
    margin: 0;
  }
}

.mock {
  width: 32vw;
  height: 32vw;
}

.flex {
  display: flex;
  margin-bottom: 200px;
  justify-content: center;
}

.right {
  text-align: right;
  width: 600px;
  @include mq(lg){
    width: 50vw;
  }
  @include mq(md){
    width: 40vw;
  }
}
.description {
  text-align: right;
  width: 400px;
  margin-left: auto;
  min-height: 8rem;
  @include mq(lg){
    min-height: 4rem;
  }
  @include mq(md){
    max-height: 3rem;
  }
}


