@import "../../styles/assets.scss";

.icon {
  width:100px;
  height: 100px;
}

.catchCopy {
  color: #ff8d2f;
  font-weight: 600;
}

h1 {
  margin:0px 0px 8px 0px;
  font-size: 36px;
}

.mock {
  width: 400px;
  height: 100%;
}

.flex {
  display: flex;
  margin-top: 200px;
  justify-content: center;
}

.left {
  width: 600px;
}
.description {
  width: 350px;
  min-height: 6rem;
}


