@import "../../styles/assets.scss";

.title {
  color: #444;
  font-size: 72px;
  font-weight: normal;
  margin-bottom: 0;
  @include mq(lg){
    font-size: 64px;
  }
  @include mq(md){
    font-size: 48px;
  }
  @include mq(sm){
    font-size: 32px;
  }
}
.wrapper {
  margin: 700px 20px 10vw 20px;
  @include mq(lg){
    margin-top: 600px;
  }
  @include mq(md){
    margin-top: 500px;
  }
  @include mq(sm){
    margin: 390px 20px 10vw 2vw;
  }
}

.subtitle {
  color: #444;
  font-size: $text-base;
  margin: 0px 0px 0px 5px;
  @include mq(sm){
    margin: 0px 0px 0px 0px;
  }
}