@import "../../styles/assets.scss";

.heading {
  width: 100%;
  top: 0px;
  text-align: center;
  padding: 8px 0 4px 0;
  @include mq(sm){
    padding: 12px 0 8px 0;
  }
}

.link {
  font-size: $text-2xl;
  color: black;
}

.ul {
  position: absolute;
  width: 100%;
  top: 55px;
  z-index: 998;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(sm){
    display: none;
  }
}

.li {
  font-size: $text-xl;
  padding: 15px 33px;
  
  a {
    color: black;
  }
}