@import "../../styles/assets.scss";

.card {
  max-width: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.image {
  width: 180px;
  height: 180px;
  background-color: #ECECEC;
  border-radius: 50%;
  margin-bottom: 34px;
}

.name {
  margin-bottom: 14px;
  h2 {
    font-size: $text-lg;
    font-weight: normal;
  }
  p {
    text-align: center;
    color: #939393;
  }
}

.snsLinks {
  text-align: center;
  li a {
    color: #000;
    font-weight: 400;
    font-size: $text-lg;
  }
}