@import "../../styles/assets.scss";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
}

.copy {
  color: white;
}

.ul {
  display: flex;
  align-items: center;
  .li {
    padding: 5px 20px;
    a {
      color: white;
    }
  }
}

